<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title || 'Money Converter' %></title>
  <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
  <header>
    <h1>Money Converter</h1>
  </header>
  <main>
