<%- include("partials/header.ejs") %>

  <section class="about">
    <h2>About This App</h2>
    <p>
      Money Converter is a simple web application that you can use to convert between different currencies. It provides real-time exchange rates and allows you to easily switch between currencies using a swap button.
    </p>

    <h3>Features</h3>
    <ul>
      <li>Supports all major world currencies</li>
      <li>Swap button for quick reverse conversion</li>
      <li>Responsive and mobile-friendly design</li>
    </ul>

    <h3>Technologies Used</h3>
    <ul>
      <li>Node.js and Express for the backend</li>
      <li>Bootstrap for responsive design</li>
      <li>JavaScript for client-side interactivity</li>
      <li>Currency conversion API for real-time rates</li>
    </ul>
   <p>Click <a href="https://github.com/AdeyemiAdebajo/CurrencyConverter" target="_blank">here </a> to view the code on github</p>
  </p>
  </section>

  <%- include("partials/footer.ejs") %>